{% extends 'registration/base.html' %}

{% block title %}{% block title-meta %}
    لیست مقالات
{% endblock %}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-12">
            {#                <div class="card-header">#}
            {#                    <h3 class="card-title">Responsive Hover Table</h3>#}
            {##}
            {#                    <div class="card-tools">#}
            {#                        <div class="input-group input-group-sm" style="width: 150px;">#}
            {#                            <input type="text" name="table_search" class="form-control float-right"#}
            {#                                   placeholder="Search">#}
            {##}
            {#                            <div class="input-group-append">#}
            {#                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            <!-- /.card-header -->
            {% if object_list %}
                <div class="card">
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>عنوان</th>
                                <th>تصویر مقاله</th>
                                <th>دسته‌بندی</th>
                                <th>توضیحات</th>
                                <th>نویسنده</th>
                                <th>مقاله ویژه</th>
                                <th>انتشار</th>
                                <th>وضغیت</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for article in object_list %}
                                <tr>
                                    <td>
                                        {% if user.is_superuser or article.status in 'dn'|make_list %}
                                            <a href="{% url 'account:article_update' article.pk %}"
                                               style="text-decoration: none">{{ article.title }}</a>
                                        {% else %}
                                            {{ article.title }}
                                        {% endif %}
                                    </td>
                                    <td><img src="{{ article.thumbnail.url }}" width="100" alt="{{ article.title }}">
                                    </td>
                                    <td>{{ article.category_to_str }}</td>
                                    <td>{{ article.description|striptags|truncatewords:10 }}</td>
                                    <td>{{ article.author.get_full_name }}</td>
                                    <td>{{ article.jpublish }}</td>
                                    <td>
                                        {% if article.is_special %}
                                            <i class="fa fa-check-circle" style="color: green"></i>
                                        {% else %}
                                            <i class="fa fa-minus-circle" style="color: red"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if article.status == 'p' %}
                                            <span class="badge badge-success">منتشر شده</span>
                                            <a href="{% url 'blog:detail' article.slug %}" target="_blank"
                                               class="badge badge-info">نمایش
                                                در سایت</a>
                                        {% elif article.status == 'i' %}
                                            <span class="badge badge-light">درحال بررسی</span>
                                            {% if user.is_superuser %}
                                                <a href="{% url 'blog:preview' article.pk %}"
                                                   class="badge badge-secondary">پیش‌نمایش</a>
                                            {% endif %}
                                        {% else %}
                                            {% if article.status == 'd' %}
                                                <span class="badge badge-dark">پیش‌نویس</span>
                                            {% else %}
                                                <span class="badge badge-warning">تایید نشده</span>
                                            {% endif %}
                                            <a href="{% url 'blog:preview' article.pk %}"
                                               class="badge badge-secondary">پیش‌نمایش</a>
                                        {% endif %}

                                        {% if user.is_superuser %}
                                            <br>
                                            <a href="{% url 'account:article_delete' article.pk %}"
                                               class="badge badge-danger">حذف</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% else %}
                <h4>مقاله‌ای برای نمایش وجود ندارد!</h4>
            {% endif %}
            <!-- /.card-body -->
            <!-- /.card -->
        </div>
    </div>
{% endblock %}
