<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>تقاضای ریست رمز فرستاده شد | وبــــلاگـ مــن</title>
</head>
<body style="direction: rtl; font-family: IRANSans, sans-serif; text-align: center">
<h3>تقاضای ریست رمز فرستاده شد</h3>
<p>دستورالعمل تنظیم گذرواژه را برایتان ایمیل کردیم. اگر با ایمیلی که وارد کردید اکانتی وجود داشته باشد باید به زودی این
    دستورالعمل‌ها را دریافت کنید.
</p>
<p>
    اگر ایمیلی دریافت نمی‌کنید، لطفاً بررسی کنید که آدرسی که وارد کرده‌اید همان است که با آن ثبت نام کرده‌اید، و پوشهٔ
    اسپم خود را نیز چک کنید.
</p>
</body>
</html>