
.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position: relative;
    text-align: center;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    right: 100%;
    margin-top: 0;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-180deg);
}

.nav-link {
    margin-right: 30px;
    font-size: smaller;
    font-weight: normal;
    color: white;
}

.navbar {
    height: 75px;
}