{% extends 'blog/base.html' %}
{% load base_tags %}
{% load static %}


{% block title %}{% nav_title %} | {{ object.title }} {% endblock %}

{% block main %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ object.thumbnail.url }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h3>{{ article.title }}</h3>
                        <br>
                        <time class="text-small">{{ object.jpublish }}</time>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto text-justify">
                    {% if object.is_special %}
                        {% if user.is_authenticated and user.is_special_user or user.is_superuser or user == object.author %}
                            {{ object.description|safe }}
                        {% else %}
                            <p>این مقاله ویژه است و برای مشاهده‌ي آن باید <a href="#"
                                                                             style="text-decoration:none; color: gold; -webkit-text-stroke: 1px black; font-weight: bold ">اشتراک
                                ویژه</a> تهیه نمایید.</p>
                        {% endif %}
                    {% else %}
                        {{ object.description|safe }}
                    {% endif %}
                </div>
            </div>
        </div>
    </article>

    <hr>
{% endblock %}