{% extends 'blog/base.html' %}
{% load base_tags %}
{% load static %}
{% load comment_tags %}

{% block title %}{% nav_title %} | {{ object.title }} {% endblock %}

{% block main %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ object.thumbnail.url }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>
                            {{ article.title }}
                        </h1>
                        <br>
                        <time class="text-small">{{ object.jpublish }}</time>
                        {% if article.is_special %}
                            <span class="badge badge-danger" style="font-size: medium">ویژه</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto text-justify">
                    {% if object.is_special %}
                        {% if user.is_authenticated and user.is_special_user or user.is_superuser or user == object.author %}
                            {{ object.description|safe }}
                        {% else %}
                            {{ article.description|striptags|truncatewords:30 }}
                            <p class="alert alert-warning">این مقاله ویژه است و برای مشاهده‌ي آن باید <a href="#"
                                                                                                         style="text-decoration:none; color: blue; font-weight: bold ">اشتراک
                                ویژه</a> تهیه نمایید.</p>
                        {% endif %}
                    {% else %}
                        {{ object.description|safe }}
                    {% endif %}
                    {% render_comments object request %}
                </div>
            </div>
        </div>
    </article>

    <hr>
{% endblock %}